.todo-item {
    background: #f9f9f9;
    margin-bottom: 30px;
    padding: 5px;
}

.todo-title {
  font-size: 1.3em;
  line-height: 40px;
  color: #000;
  transition: 0.5s all ease-in-out;
  text-align: center;
}